comfyui-frontend-package==1.20.7
comfyui-workflow-templates==0.1.22
torch
torchsde
torchvision
torchaudio
numpy>=1.20.0
einops
transformers>=4.28.1
tokenizers>=0.13.3
sentencepiece
safetensors>=0.4.2
aiohttp>=3.11.8
yarl>=1.18.0
pyyaml
Pillow>=8.0.0
scipy>=1.7.0
tqdm
psutil

#non essential dependencies:
kornia>=0.7.1
spandrel
soundfile
av>=14.2.0
pydantic~=2.0

opencv-python>=4.5.0
mediapipe>=0.8.0
onnxruntime>=1.9.0
onnx>=1.10.0
requests>=2.25.0
